<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1 class="bg-dark text-center text-white">Welcome</h1>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center">
        <a href="/author" class="btn btn-dark text-white mx-2" type="button">Author</a>
        <a href="/book" class="btn btn-dark text-white mx-2" type="button">Book</a>
        <a href="" class="btn btn-dark text-white mx-2" type="button">Import</a>
        <a href="/author/export" class="btn btn-dark text-white mx-2" type="button">Export</a>
        <a href="/author/add" class="btn btn-dark text-white mx-2" type="button">Add author</a>
    </div>
</nav>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>LastName</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="author:${authors}">
                <td th:text="${author.id}"></td>
                <td th:text="${author.getFirstName()}"></td>
                <td th:text="${author.getLastName()}"></td>
                <td class="d-flex mx-2">
                    <a th:href="|/author/edit/${author.getId()}|" class="btn btn-info text-white">Edit</a>
                    <form th:action="|/author/delete/${author.getId()}|" method="post">
                        <button class="btn btn-danger text-white">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>