<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1 class="bg-dark text-center text-white">Welcome</h1>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center">
        <a href="/author" class="btn btn-dark text-white mx-2" type="button">Author</a>
        <a href="/book" class="btn btn-dark text-white mx-2" type="button">Book</a>
    </div>
</nav>
</body>
</html>
